<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <title>User</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/assets/css/starter-template.css"/>
</head>
<body>
    <div th:include="admin/layout :: navigation"></div>

    <main role="main" class="container">

        <h1>User Info</h1>
        <div style="text-align: right;">
            <input type="text" style="vertical-align: middle" id="nicknameSearchText" placeholder="Nickname">
            <button type="button" class="btn btn-outline-primary" id="nicknameSearch">Search</button>
        </div>
        <br/>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 5%" scope="col">#</th>
                <th style="width: 85%" scope="col">Nickname</th>
                <th style="width: 5%" scope="col">Sex</th>
                <th style="width: 5%" scope="col">Type</th>
            </tr>
            </thead>
            <tbody id="userInfoTableBody">
            <tr th:each="user : ${userInfo}">
                <td th:text="${user.no}"></td>
                <td th:text="${user.nickname}" th:onclick="'showCareer(\'' + ${user.no} + '\');'" style="text-decoration:underline"></td>
                <td th:text="${user.sex}"></td>
                <td th:if="${user.tutor}" th:text="${user.type}"></td>
                <td th:id="'userType_' + ${user.no}" th:unless="${user.tutor}" style="text-decoration:underline" th:text="${user.type}" th:onclick="'enrollTutor(\'' + ${user.nickname} + '\' , \'' + ${user.no} + '\');'"></td>
            </tr>
            </tbody>
        </table>
        <!--<button type="button" class="btn btn-primary" id="addSchool">등록</button>-->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#regUserModal">등록</button>

        <!-- Modal -->
        <div class="modal fade" id="regUserModal" tabindex="-1" role="dialog" aria-labelledby="regUserModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="regUserModalLabel">회원 등록</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <!--<label for="userNicknameText">닉네임</label>-->
                                <input type="text" class="form-control" id="userNicknameText" aria-describedby="userNicknameTextHelp" placeholder="닉네임">
                                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                            </div>
                            <div style="text-align: center;">
                                <label><input TYPE='radio' name='sexRdo' value='M' />&nbsp; 남</label>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <label><input TYPE='radio' name='sexRdo' value='F' />&nbsp; 여</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="regUser">등록</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="careerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">'s Career</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="careerProfile"></div>
                        <div id="careerAwards"></div>
                        <div id="careerWorkshop"></div>
                        <div id="careerPerformance"></div>
                        <div id="careerClass"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script>window.jQuery || document.write('<script src="/webjars/jquery/3.3.1-1/jquery.min.js"><\/script>')</script>
    <script src="/webjars/popper.js/1.14.4/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/assets/js/user.js?dummy=2018110400000004"></script>
</body>
</html>